<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
  <div>
    <%= form_with(url: signup_path, model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :email %>
      <%= f.email_field :email %><br>

      <%= f.label :password %>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>

  <p>Do you have an account? <%= link_to "Log in now!", root_path %></p>
</div>