<% provide(:title, "All CSVs") %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Uploaded Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @csvs.each do |csv| %>
      <tr>
        <td><%= csv.name %></td>
        <td><%= csv.status %></td>
        <td><%= csv.created_at.strftime("%b-%d-%Y %l:%M:%S %P %Z") %></td>
        <% if csv.status == 'On Hold'%>
          <td><%= link_to  "Process", "/csv/#{csv.id}" %></td>
        <% end %>
        <% if csv.status == 'Failed'%>
          <td><%= link_to  "Process Again", "/csv/#{csv.id}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>